<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notice detail</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

notice detail
<script>
  let url = location.hrefl
  alert(url);

  /*
  url : ~ /detail/1
  1. split
  2. lastIndexOf()
   */

  //1번
  let arrayUrl = url.split("/");
  let id =arrayUrl(arrayUrl.length -1);

  alert(id);

  /*
  2번 방법
  let lastIndex = url.lastIndexOf("/");
  let id =substring(lastIndex.length +1);
   */

    function detailNotice(){
    $.ajax({
      url: "/api/notice/detail",
      method: "GET",
      data:{
        title : $("#search_notice_title").val(),
        author : $("#search_notice_author").val()
      },
      success: (data, status, xhr)=>{
        alert(JSON.stringify(data));
        for (let each of data){
          $("#div_list").append(
                  "<div>"
                  +"id: "+each["id"]+"//title"
                  +"</div>"
          )
        }
      },
      error: (data, status, xhr)=>{
        alert(JSON.stringify(data));
      },
    });
  }

</script>

</body>
</html>