<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
notice list

search <br/>

search <br/>
<input type="text" id="search_notice_title"/><br/>
title <br/>
author <br/>
<input type="text" id="search_notice_author"/> <br/>
<br/>
<button onclick="createNotice()">get list</button>

list
<div id="div_list"></div>
<script>
  function createNotice(){
    $.ajax({
      url: "/api/notice/create",
      method: "GET",
      data:{
        title : $("#search_notice_title").val(),
        author : $("#search_notice_author").val()
      },
      success: (data, status, xhr)=>{
        alert(JSON.stringify(data));
        for (let each of data){
          $("#div_list").append(
                  "<div>"
                  +"id: "+each["id"]+"//title"
                  +"</div>"
          )
        }
      },
      error: (data, status, xhr)=>{
        alert(JSON.stringify(data));
      },
    });
  }
</script>
</body>
</html>